/*New Game Styling*/

.new-game-container {
  text-align:center;
  background: #009ad9
}
body {
  background: #FF6419;
}

.main-header {
  font-family:Orbitron, sans-serif;
  font-size: 4em;
  line-height: 1.5em;
  color:#EEEEEE;
  padding: 1em;
  text-align: center;
}

  .menu-header {
    text-transform:uppercase;
    font-size: 1.5em;
    margin-bottom: 1em;
    line-height: 1.2em;
    display:block;
    color:#EEEEEE;
    font-family:Helvetica, sans-serif;

  }

  .menu-option {
    font-family: helvetica;
    color: #555555;
    text-decoration: none;
    font-size: 1.2em;
    display:block;
    margin-left: 30em;
    margin-right: 30em;
    margin-top: 20px
    margin-bottom:20px;
    padding-left:20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border:2px solid white;
  }

    .menu-option-panthers{
      transform: perspective(220px) rotateY(-15deg)
    }
  .menu-option-broncos {
    transform: perspective(220px) rotateY(15deg);
  }


  .menu-option:hover {
    background: white;
    text-transform: black;
  }

  /* Gameplay*/

  .game-detail{
    color:#EEEEEE;
    font-family: helvetica;
    display: inline-block;
    margin: 2em;

  }

  .game-detail-health   {
    float: left;
    margin-left: 3em
  }

  .game-detail-time {
    float:right;
    margin-right:3em;
    }

  .game-board {
    margin-top: .5em;
    display:block;
    text-align: center;
  }

  .box {
    display: inline-block;

  }

.card {
  width: 115px;
  height: 115px;
  background: white;
  border-radius: 1em;
  display: inline-block;
  transition: background 1s,
  -webkit-transform 1s;
}

.box {  margin: .1em
  }
a {
  display:inline-block;
}



/*when the checkbox is checked then*/

input:checked +.card {
  background:black;
  -webkit-transform: rotateY(180deg);
}
input {
  width: 300px;
  height: 300px;
  display:none;
}

/*some other shit*
.box {
  color:blue;
  width: 300px;
  height: 300 px;
  border-radius: 1em;
}
*/
